{% extends 'main.html' %}

{% block content %}

<style>
    .activities {
        border-radius: 5px;
        overflow: hidden;
        margin-left: 10px;
    }

    .activities__header h2 {
        background-color: var(--color-dark-light);
        text-transform: uppercase;
        font-weight: 500;
        padding: 1rem 1.5rem;
        color: var(--color-light);
        letter-spacing: 1px;
        font-size: 1rem;
    }

    .room-container{
        display: grid;
        grid-template-columns: 5fr 1fr;
        padding: 0;
    }

</style>

<div class="room-container">

    <div>
        <h1 style="color: rgb(21, 48, 126);" >{{room.name}}</h1>
        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_messages %}
            <div>
                {% if request.user == message.user %}
                <a style="color: red;" href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <small>@{{message.user}},{{message.created|timesince}} ago</small>
                <p>{{message.body}}</p>
                <hr>
            </div>
            {% endfor %}

        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write Your Mesaage Here....."/>
            </form>
        </div>
        {% endif %}

    </div>

    <div class="activities" >
        <div class="activities__header" >
            <h2>Participants</h2>
        </div>
        {% for user in participants %}
         <div>
            <p>@{{ user.username }}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
